@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --color-title: #0969f8;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

.wrap {
  width: 1024px;
  margin: auto;
}